Group and Aggregate data in a pandas DataFrame

In [1]:
import numpy as np
import pandas as pd

In [9]:
df = pd.read_csv('data.csv')
df.head()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,9.30,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380
1,DRC01,5.92,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228
2,FDN15,17.50,Low Fat,0.016760,Meat,141.6180,OUT049,1999,Medium,Tier 1,Supermarket Type1,2097.2700
3,FDX07,19.20,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,1998,NaN,Tier 3,Grocery Store,732.3800
4,NCD19,8.93,Low Fat,0.000000,Household,53.8614,OUT013,1987,High,Tier 3,Supermarket Type1,994.7052

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14204 entries, 0 to 14203
Data columns (total 12 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Item_Identifier            14204 non-null  object
 1   Item_Weight                11765 non-null  float64
 2   Item_Fat_Content           14204 non-null  object
 3   Item_Visibility            14204 non-null  float64
 4   Item_Type                  14204 non-null  object
 5   Item_MRP                   14204 non-null  float64
 6   Outlet_Identifier          14204 non-null  object
 7   Outlet_Establishment_Year  14204 non-null  int64
 8   Outlet_Size                10188 non-null  object
 9   Outlet_Location_Type       14204 non-null  object
 10  Outlet_Type                14204 non-null  object
 11  Item_Outlet_Sales          14204 non-null  float64
dtypes: float64(4), int64(1), object(7)
memory usage: 1.3+ MB

In [16]:
df.isnull().sum()

Item_Identifier                 0
Item_Weight                  2439
Item_Fat_Content                0
Item_Visibility                 0
Item_Type                       0
Item_MRP                        0
Outlet_Identifier               0
Outlet_Establishment_Year       0
Outlet_Size                  4016
Outlet_Location_Type            0
Outlet_Type                     0
Item_Outlet_Sales               0
dtype: int64

In [17]:
categorical_data = df.select_dtypes(include=['object','category'])
numerical_data = df.select_dtypes(include=['int','float'])
for x in categorical_data:
    df[x].fillna(df[x].mode()[0], inplace=True)
df.isnull().sum()


for x in numerical_data:
    df[x].fillna(np.mean(df[x]), inplace=True)
df.isnull().sum()

Item_Identifier              0
Item_Weight                  0
Item_Fat_Content             0
Item_Visibility              0
Item_Type                    0
Item_MRP                     0
Outlet_Identifier            0
Outlet_Establishment_Year    0
Outlet_Size                  0
Outlet_Location_Type         0
Outlet_Type                  0
Item_Outlet_Sales            0
dtype: int64

In [18]:
from sklearn.preprocessing import StandardScaler, LabelEncoder
encoder = LabelEncoder()
category = df.select_dtypes(include=['object','category'])
for x in category:
    df[x] = encoder.fit_transform(df[x])
df.head()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,156,9.30,1,0.016047,4,249.8092,9,1999,1,0,1,3735.1380
1,8,5.92,2,0.019278,14,48.2692,3,2009,1,2,2,443.4228
2,662,17.50,1,0.016760,10,141.6180,9,1999,1,0,1,2097.2700
3,1121,19.20,2,0.000000,6,182.0950,0,1998,1,2,0,732.3800
4,1297,8.93,1,0.000000,9,53.8614,1,1987,0,2,1,994.7052

In [19]:
df.groupby('Item_Weight').sum()

,Item_Identifier,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
Item_Weight,,,,,,,,,,,
4.555,5334,14,0.240922,35,781.5808,36,14005,8,7,8,12331.927462
4.590,196,7,0.425410,98,790.0020,36,14005,8,7,8,9561.636618
4.610,328,8,0.942716,56,1392.9168,36,16003,9,9,8,15979.466121
4.615,6942,12,0.611827,18,1396.3800,33,11996,7,5,6,24367.558808
4.635,6202,7,0.987956,7,895.5958,36,14005,8,7,8,14293.820136
...,...,...,...,...,...,...,...,...,...,...,...
21.000,3488,10,0.428268,104,1548.1824,36,16003,9,9,8,11111.143500
21.100,30400,49,1.597350,193,4367.5294,144,60016,34,32,32,48746.967522
21.200,11497,22,0.578355,209,2627.4126,72,30008,17,16,16,38964.886479
21.250,34876,37,2.125873,381,6206.7560,180,72023,41,37,40,80649.784226
21.350,8480,16,1.273088,72,2848.3976,72,32006,18,18,16,43273.905958

In [20]:
df.groupby(['Item_Weight','Item_Visibility']).aggregate('min')

                             Item_Identifier  Item_Fat_Content  Item_Type  \
Item_Weight Item_Visibility
4.555       0.034329                     762                 2          5
            0.034351                     762                 2          5
            0.034357                     762                 2          5
            0.034411                     762                 2          5
            0.034427                     762                 2          5
...                                      ...               ...        ...
21.350      0.077902                     824                 1          6
            0.078061                     824                 1          6
            0.078184                     824                 1          6
            0.115195                     236                 1          3
            0.130127                     824                 1          6

                             Item_MRP  Outlet_Identifier  \
Item_Weight Item_Visibility
4.555       0.034329         110.1544                  1
            0.034351         112.7544                  6
            0.034357         112.6544                  8
            0.034411         111.3544                  9
            0.034427         111.7544                  7
...                               ...                ...
21.350      0.077902          96.9094                  7
            0.078061          96.0094                  3
            0.078184          96.8094                  2
            0.115195         258.3278                  0
            0.130127          96.2094                  0

                             Outlet_Establishment_Year  Outlet_Size  \
Item_Weight Item_Visibility
4.555       0.034329                              1987            0
            0.034351                              2004            2
            0.034357                              1997            2
            0.034411                              1999            1
            0.034427                              2002            1
...                                                ...          ...
21.350      0.077902                              2002            1
            0.078061                              2009            1
            0.078184                              2007            1
            0.115195                              1998            1
            0.130127                              1998            1

                             Outlet_Location_Type  Outlet_Type  \
Item_Weight Item_Visibility
4.555       0.034329                            2            1
            0.034351                            1            1
            0.034357                            0            1
            0.034411                            0            1
            0.034427                            1            1
...                                           ...          ...
21.350      0.077902                            1            1
            0.078061                            2            2
            0.078184                            1            1
            0.115195                            2            0
            0.130127                            2            0

                             Item_Outlet_Sales
Item_Weight Item_Visibility
4.555       0.034329               1230.398400
            0.034351               1789.670400
            0.034357               2684.505600
            0.034411               1342.252800
            0.034427               1660.447809
...                                        ...
21.350      0.077902                937.471491
            0.078061                380.837600
            0.078184               1100.364095
            0.115195                520.655600
            0.130127                190.418800

[13544 rows x 10 columns]

In [23]:
agg_functions = {
    'Item_Type':
    ['mean', 'median', 'max', 'sum']
}
df.groupby(['Item_Visibility']).agg(agg_functions)

                Item_Type
                     mean median max   sum
Item_Visibility
0.000000         7.227531    6.0  15  6353
0.003575         7.000000    7.0   7     7
0.003589         7.000000    7.0   7     7
0.003591         7.000000    7.0   7     7
0.003592         7.000000    7.0   7     7
...                   ...    ...  ..   ...
0.313935         3.000000    3.0   3     3
0.321115         6.000000    6.0   6     6
0.323637         9.000000    9.0   9     9
0.325781         9.000000    9.0   9     9
0.328391         3.000000    3.0   3     3

[13006 rows x 4 columns]